@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

$body-text : "Inter";

body {
    font-family: $body-text;
    font-size: clamp(1rem, 1rem + 0.5vw, 3rem);
}

button {
    font-family: $body-text;
}